{% apply spaceless %}
    {% set elementId = elementId ?: 'spacer-HqlX1L' %}
    {% set spacerHeight = (spacerHeight ?: properties.spacerHeightMedium) ?: 25 %}

    <div data-bsi-element="{{ elementId }}" style="line-height: {{ spacerHeight }}px; height: {{ spacerHeight }}px; mso-line-height-rule: exactly;">&nbsp;</div>
{% endapply %}